version: "3.9"

services:
  db:
    image: postgres:16
    container_name: edu_db
    environment:
      POSTGRES_DB: education
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mchtayd
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  api:
    build:
      context: ./API
    container_name: edu_api
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__DefaultConnection: Host=db;Port=5432;Database=education;Username=postgres;Password=mchtayd;Pooling=true
    depends_on:
      - db
    expose:
      - "8080"
    restart: unless-stopped

  web:
    build:
      context: ./Client
    container_name: edu_web
    depends_on:
      - api
    ports:
      - "80:80"
    restart: unless-stopped

volumes:
  pgdata:
